.container-2{
    margin: 96px auto;
    text-align: center;
}
.sobre-nos{
    font-family:'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(142, 36, 36, 1);
    margin-bottom: 24px;   
}
h1{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color:rgba(16, 24, 40, 1);
    margin-bottom: 36px;
}
p{
    width: 791px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color:rgba(102, 112, 133, 1);
    margin: 0 auto 107px;
}
