@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*{
    margin:0;
    padding: 0;
    text-decoration: 0;

}
body{
    
    background-color: rgba(255, 255, 255, 1);

}
.container-1{
    width: 1440px;
    height: 80px;
    padding: 28px 0 28px 147px;
    font-family: 'Inter', sans-serif;;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.logo-items{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-cabecalho{
    width: 27px;
    height: 26.99px;
    
}
.titulo-logo{
    font-size: 24px;
    color:rgba(58, 64, 78, 1);
    margin-left: 8px;

}
nav{
    display: flex;
    justify-content: flex-start;
    margin-left: 119px;
    color:rgba(102, 112, 133, 1);
    font-size: 16px;
    gap: 24px;

}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 398px;
    gap: 24px;
}
.button-cadastrar{
    width: 112px;
    height: 44px;
    padding: 10px 18px 10px 18px;
    border: none;
    border-radius: 8px;
    font-size:16px;
    color: white;
    background: rgba(142, 36, 36, 1);
    border: 1px solid rgba(142, 36, 36, 1);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    ;

}